@import "https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=M+PLUS+2:wght@100..900&display=swap";

@mixin for-phone-only {
  @media (max-width: 499px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

$background-color: oklch(22.49% 0.008 297.21);
$foreground-color: oklch(98.51% 0 0);
$primary-color: oklch(82.67% 0.096 307.5);
$secondary-color: oklch(from $primary-color l c 240);

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  transition: 0.1s ease-in-out;
  // outline: 1px solid rgba(255, 0, 0, 0.2);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "M PLUS 2", sans-serif;
  align-items: center;
  $opacity: 25%;
  background-color: black;
  // prettier-ignore
  background-image:
    url("/images/noise.png"),
    radial-gradient(circle at center center, oklch(22.49% 0.008 297.21), transparent),
    radial-gradient(circle at bottom left, #27577D, transparent),
    radial-gradient(circle at top right, #952EA4 0%, transparent),
    radial-gradient(circle at center right, #6949A5 0%, transparent),
    radial-gradient(circle at top center, #336BA0 0%, transparent);
  background-attachment: fixed;
  color: white;
  color: $foreground-color;
  padding: 4rem 1rem 1rem 1rem;
  margin: 0;

  // Stops central content from shifting around when&if a scrollbar appears
  width: 100vw;
  overflow-x: hidden;

  @include for-phone-only {
    padding: 0.25rem;
    flex-direction: row;
  }
}

content {
  display: flex;
  width: 100%;
  max-width: 60rem;
  flex-direction: row-reverse;

  &>* {
    background-color: $background-color;
    outline: 2px solid $background-color;
    outline-offset: 2px;

    @include for-phone-only {
      outline: 0px;
    }
  }

  &>nav {
    padding: 1.25rem 0.75rem;
  }

  &>article {
    flex: auto;
    padding: 1.25rem;
    height: fit-content;
  }

  @include for-phone-only {
    flex-direction: column;
  }
}

footer {
  position: fixed;
  bottom: 0px;
  opacity: 0.7;
  font-size: 0.9rem;
  padding: 0.5rem;
  width: 100%;
  text-align: right;
  color: white;
  mix-blend-mode: overlay;
  pointer-events: none;

  p {
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    pointer-events: all;
  }

  @include for-phone-only {
    display: none;
  }
}

// --- NAVIGATION BAR ---
// This whole navbar section needs refactoring, because I'm already confused by it
nav {
  display: flex;
  position: sticky;
  top: 4rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  height: fit-content;

  svg {
    fill: $foreground-color;
    $size: 2rem;
    width: $size;
    height: $size;
  }

  a {
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-decoration: none;
    justify-content: center;
    color: $foreground-color;
  }

  hr {
    width: 100%;
  }

  @include for-phone-only {
    // TODO: i absolutely hate this: it feels extremely hacky.
    top: 0.25rem;
    margin-bottom: 0.4rem !important;
    // end
    z-index: 1;
    margin: 0;
    flex-direction: row;

    a {
      writing-mode: horizontal-tb;

      &:first-child {
        margin-right: auto;
      }
    }

    span {
      display: none;
    }

    hr {
      display: none;
    }

    img {
      display: none;
    }
  }
}

// --- STANDARD ELEMENTS ---
a {
  color: mediumpurple;
  color: $primary-color;

  &:hover {
    filter: brightness(0.75);
  }
}

@mixin std-style {
  display: block;
  margin: 0;
}

p {
  @include std-style;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &>li:before {
    content: "-";
    color: oklch(82.67% 0.087 180);
    padding-left: 0.5rem;
    padding-right: 0.25rem;
  }
}

h1 {
  font-size: 1.25rem;
}

@for $i from 1 through 6 {
  h#{$i} {
    @include std-style;
    padding-top: 0.5rem;
    font-size: 1rem;

    &:before {
      $stars: "";

      @for $_ from 1 through $i {
        $stars: $stars + "*";
      }

      content: "#{$stars} ";
      color: oklch(82.67% 0.087 #{280 + ($i - 1) * 20});
      opacity: 0.75;
    }
  }
}

img {
  user-select: none;
  pointer-events: none;
}

code {
  font-family: "M PLUS 1 Code", monospace;

  @include for-phone-only {
    word-break: break-all;
  }
}

div.sourceCode {
  padding: 1rem;
}

div.sourceCode,
code {
  background-color: oklch(from $background-color calc(l - 0.05) c h);
}

hr {
  $color: oklch(from $foreground-color 0.45 c h);
  // Not a single platform can decide which way to set the color of a `hr`.
  background-color: $color;
  color: $color;
  border-color: $color;
}

.playlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}