:root {
    --background-color: oklch(22.49% 0.008 297.21 / 95%);
    --foreground-color: oklch(98.51% 0 0);
    --primary-color: oklch(82.67% 0.096 307.5);
    --page-width: 1000px;
    --gap: 19px;
}

* {
    box-sizing: border-box;
    text-transform: lowercase;
}

/* ------ Building Blocks */
body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: "M PLUS Code Latin", monospace;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        background-image: url("../background-vertical.webp");
        background-size: auto;
        background-attachment: fixed;
        background-size: cover;
    }

    #grid {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }
}

@media (min-width: 481px) {
    body {        
        background-image: url("../background.webp");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: cover;
    }

    #grid {
        display: grid;
        width: var(--page-width);
        grid-template-columns: 1fr 225px;
        gap: var(--gap);
        margin-top: 80px;
        margin-bottom: 45px;
    }
}

section, nav, footer {
    background-color: var(--background-color);
    outline: 2px solid var(--background-color);
    outline-offset: 4px;
    backdrop-filter: blur(10px);
    counter-reset: figure;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

    grid-column: span 2;
    height: 80px;

    & .logo {
        fill: var(--foreground-color);
        width: 45px;
    }

    & > ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        gap: 25px;

        & > li {
            &:before {
                content: "./";
                color: inherit;
            }

            & > a:link,
            & > a:visited {
                color: inherit;
            }
        }
    }
}

section {
    padding: 25px 30px;
}

main,
aside {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    height: 40px;
    color: color-mix(in oklab, var(--background-color), var(--foreground-color));
}

/* Tag Styling */
h1 {
    font-size: 20px;
}

h2, h3, h4, h5, p, a, span {
    font-size: 16px;
}

h2, h3, h4, h5 {
    padding-top: 16px;
}

h1::before {
    content: "* ";
    color: oklch(82.67% 0.087 280);
    opacity: 0.75;
}

h2::before {
    content: "** ";
    color: oklch(82.67% 0.087 230);
    opacity: 0.75;
}

h3::before {
    content: "*** ";
    color: oklch(82.67% 0.087 320);
    opacity: 0.75;
}

h4::before {
    content: "**** ";
    color: oklch(82.67% 0.087 360);
    opacity: 0.75;
}

h5::before {
    content: "***** ";
    color: oklch(82.67% 0.087 35);
    opacity: 0.75;
}

h1, h2, h3, h4, h5, p {
    display: block;
    font-weight: inherit;
    margin: 0;
    padding-bottom: 4px;
}

a, span {
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & > li:before {
        content: "- ";
        color: oklch(82.67% 0.087 180);
        opacity: 0.75;
    }
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    counter-reset: item;

    & > li:before {
        content: counter(item) ". ";
        counter-increment: item;
        color: oklch(82.67% 0.087 70);
        opacity: 0.75;
    }
}

code { /* Inline, nonstyled code block: use Hugo template for bigger stuff that needs syntax highlighting */
    background-color: color-mix(in oklab, black 25%, var(--background-color));
    color: color-mix(in oklab, black 10%, var(--foreground-color));
    padding: 0px 5px;
    font-family: "M PLUS Code Latin", monospace;
}

figure {
    display: flex;
    flex-direction: column;
    & img {
        align-self: center;
        border: 1px solid var(--primary-color);
    }

    & figcaption {
        text-align: center;
        color: color-mix(in oklab, black, var(--foreground-color) 90%);

        &:before {
            content: "Figure " counter(figure) ". ";
            color: oklch(82.67% 0.087 150);
            opacity: 0.75;
        }
    }
    
    counter-increment: figure;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--primary-color);
    transition: transform 300ms;

    &:hover {
        transform: translate(0, -2px);
    }
}

/* Specific Styling */
.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: auto;
    padding: 15px 10px !important;

    & > div {
        text-align: center;
    }

    & img {
        width: 88px;
        height: 31px;
    }
    
    & .blank {
        opacity: 0.1;
    }
}

.mybutton {

    & img {
        display: block;
        margin: 0 auto;
    }
    
    & textarea {
        resize: none;
        border: 1px solid var(--primary-color);
        background-color: var(--background-color);
        color: var(--primary-color);
        font-family: inherit;
        font-size: 14px;
        width: 150px;
        height: 35px;
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }

    & p {
        padding: 5px;
        font-size: 12px;
        text-align: center;
        opacity: 0.5;
    }
}

.playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    & img {
        width: 150px;
    }
}

/* ------ Funky Browser Stuff */
::selection {
    background-color: var(--primary-color);
    color: var(--background-color);
}

html::-webkit-scrollbar { /* This only works on Chromium browsers */
    width: 6px;
    margin: 2px;
}

html::-webkit-scrollbar-track { /* This only works on Chromium browsers */
    background: var(--background-color);
}

html::-webkit-scrollbar-thumb { /* This only works on Chromium browsers */
    background: var(--primary-color);
    border: 2px solid var(--background-color);
}