<address class="author">
  Posted on <time pubdate datetime="$cdate$" title="$hdate$">$hdate$</time> by
  <a rel="author" href="/">Skiletro</a>. Last modified $modified$.
</address>
<!-- prettier-ignore -->
<hr />
$body$

<hr />
<script
  src="https://giscus.app/client.js"
  data-repo="skiletro/skiletro.github.io"
  data-repo-id="MDEwOlJlcG9zaXRvcnkyMjQ0ODI2OTA="
  data-category="General"
  data-category-id="DIC_kwDODWFVgs4Cr0zX"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="0"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="noborder_gray"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
<noscript>
  <h1>Comments</h1>
  <p>Comments are unavailable because you do not have Javascript enabled.</p>
</noscript>
