<a href="https://www.mozilla.org/en-GB/firefox/new/"><img src="{{ "buttons/bestviewedwithfirefox.png" | absURL }}" loading="lazy" alt="'Best viewed with firefox' badge"></a>
<a href="https://makefrontendshitagain.party/"><img src="{{ "buttons/makefrontendshitty.gif" | absURL }}" loading="lazy" alt="'Make front end shitty again' badge"></a>
<a href="https://risotto.joeroe.io/"><img src="{{ "buttons/risotto.png" | absURL }}" loading="lazy" alt="'Risotto' badge"></a>
<a href="https://dimden.dev/"><img src="https://dimden.dev/services/images/88x31.gif" loading="lazy" alt="'Dimden' badge"></a>