{{ if and (eq .Section "posts") (eq .Kind "page") }}
<section>
    <h1>Metadata</h1>
    <h2>Author</h2>
    <p rel="author">
        Skiletro
    </p>
    <h2>Date</h2>
    <p>
        <time pubdate datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date | time.Format ":date_long" }}</time>
    </p>
</section>
{{ else }}
<section>
    <h1>Other Links</h1>
    <ul>
    {{ range $item := .Site.Params.socialLinks }}
        <li><a rel="me" href="{{ $item.url }}">{{ $item.title }}</a></li>
    {{ end }}
    </ul>
</section>
<section>
    <h1>Bored?</h1>
    <p>
        <a href="#" onclick="
            fetch({{ "funlinks.txt" | relURL }})
            .then(res => res.text())
            .then(text => {
                const lines = text.split('\n').filter(Boolean);
                const randomLine = lines[Math.floor(Math.random() * lines.length)];
                window.location.href = randomLine;
            })
            .catch(console.error);">
            Click here
        </a>
        &nbsp;for a random article or link that I saw on the internet and found interesting.
    </p>
</section>
<section class="buttons">
    <div>
        {{ partial "88x31.html" . }}
    </div>
</section>
<section class="mybutton">
    <h1>My Button</h1>
    <img src="{{ "buttons/skiletrobutton1.png" | absURL }}" width=88 height=31 loading="lazy" alt="'Skiletro' badge">
    <textarea onclick="this.select()" readonly aria-label="Box containing the HTML code for the 'Skiletro' badge, and a link to this website"><a href="https://skiletro.com/"><img src="{{ "buttons/skiletrobutton1.png" | absURL }}" loading="lazy"></a></textarea>
    <p>Please let me know if you use my button on your website! I'd love to check it out!</p>
</section>
{{ end }}